[Unit]
Description=Battery Charge Threshold D-Bus Service
After=syslog.target

[Service]
Type=dbus
BusName=org.gnome.BatteryThreshold
ExecStart=/usr/libexec/battery-thresholdd
Restart=on-failure
RestartSec=5s

# Требования безопасности
CapabilityBoundingSet=CAP_DAC_OVERRIDE
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target